@font-face {
    font-family: 'Merchant';
    src: url('../fonts/Merchant.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Napzer';
    src: url('../fonts/naprez.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #ECECEC;
}

#header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5%;
    position: relative; 
}

#title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Merchant';
    color: #C30606;
    font-size: clamp(0.2rem, 0.9vw, 1.5rem);
    text-align: center;
    padding: clamp(1px, 50vw, 100px);
    white-space: nowrap; 
}

.button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button:last-child {
    margin-right: clamp(3%, 5vw, 9%); 
    margin-top: clamp(-3%, -4vw, -3%);
    background-color: rgba(195, 6, 6, 0.4);
    width: clamp(3px, 5vw, 40px);   
    height: clamp(3px, 5vw, 40px);  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
}

.button:last-child .close-symbol {
    color: #C30606;
    opacity: 1;
    font-size: clamp(14px, 4vw, 18px);  
    line-height: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0;
    display: block;
}



#video-container{
    margin-top: 6%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#video{
    width: clamp(100px, 80vw, 1000px);
    height: auto;
}


#text-container{
    margin-top: 7%;
    font-family: 'Napzer';
    color:#C30606;
    display: flex;

}

.text{
    flex: 1;
    margin-left: clamp(20px, 5vw, 100px);
    margin-right: clamp(10px, 3vw, 50px);
    font-size: 1.4vw;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#images{
    margin: 10% 0 2% 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    background-color: gray;
    
}

#images-slide{
    display: inline-block;
    width: 100%;
    height: auto;
   
    animation: slide 15s linear infinite;
}

#images-slide img{
    width: clamp(100px, 25vw, 2000px);
    height: auto;
}

#links-container{
    display: flex;
    margin: clamp(40px, 8vw, 100px) clamp(20px, 6vw, 60px) clamp(10px, 3vw, 20px) clamp(20px, 6vw, 60px);
    justify-content: space-between;
    font-size: 1.5vw;
}
#links-container a{
    color: #C30606;
    text-decoration: none;
    font-family: 'Napzer';
}



#right {
    display: flex;
    gap: 1%; 
}

#right > div {
    display: flex;
    flex-direction: column;
    gap: 1%; 
}

#copy-contaiener{
    color: #C30606;
    font-family: 'Napzer';
    display: flex;
    justify-content: center;
    margin: clamp(40px, 8vw, 80px) 0 clamp(5px, 2vw, 10px) 0;
    font-size: clamp(0.4rem, 1vw, 1.2rem);
   
}






 