@font-face {
    font-family: 'Merchant';
    src: url('../fonts/Merchant.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Napzer';
    src: url('../fonts/naprez.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marvin';
    src: url('../fonts/marvin.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* ADDED */
html, body {
    overscroll-behavior-x: contain;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 250px;
    height: 200px;
    top: 10%;
    left: calc(50% - 100px);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    z-index: 2;
    margin-top: 120px;

    /* ADDED  */
    touch-action: pan-y; /* Prevent horizontal gesture being hijacked */
    overscroll-behavior-x: contain;
}


.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    z-index: 1;
    position: relative;
}

.banner .slider .item .overlay-text {
    position: absolute;
    inset: 0;
    background-color: #ECECEC;
    font-family: 'Marvin';
    font-size: 0.8rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, background-color 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: flat;
    will-change: transform, opacity;
}
.desc{
    font-family: 'Napzer';
}


.banner .slider .item:hover img {
    opacity: 0;
}

.banner .slider .item:hover .overlay-text {
    opacity: 1;
    color: #C30606; 
}


body {
    background-color: #1E12C7;
    overflow-x: hidden;
}


#title{
    color: #ECECEC;
    font-family: "Merchant";
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3.5rem); 
    margin-top: 20px;
}

#title-container{
    margin-top: 20px;
}
.overlay-text{
    color: #ECECEC;
    font-family: 'Napzer';
}
